.para{
    color:  black;
    font-size: 14px;
    font-family:  sans-serif;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;

}

.offer{
    color:  black;
    font-size: 14px;
    font-family:  sans-serif;
    margin-top: 20px;
    padding-left: 20px;

}
.ul{
margin-top: 20px;
}
.li{
    color:  black;
    font-size: 14px;
    font-family:  sans-serif;
    margin-left: 20px;
}