.p{
font-size:  14px;
font-weight:  normal;
font-family: sans-serif;
color: black;
line-height: 25px;
padding: 20px;

}
.li{
    font-size:  14px;
font-weight:  normal;
font-family: sans-serif;
color: black;
margin-left: 30px;
// margin-top: 10px;

}